<div class="row mt-5">
    <div class="col-12 d-flex justify-content-center mb-5">
        <button type="button" class="btn btn-primary" (click) = 'reset()' [disabled] = '!selected.length'>Сбросить</button>
        <button type="button" class="btn btn-info ml-5" (click) = 'remove()' [disabled] = '!selected.length'>Удалить</button>
    </div>
    <ngx-datatable
     class="bootstrap col-12 p-0"
     [columns] = 'columns'
     [rows] = 'rows'
     [limit] = '5'
     [columnMode]="'force'"
     [rowHeight]="'auto'"
     [headerHeight]="'auto'"
     [footerHeight]="40"
     [reorderable]="true"
     [rowClass]='getRowClass'
     [loadingIndicator]="isLoad"
     [sorts] = '[{prop: "gender", dir: "asc"}]'
     [selectionType] = '"checkbox"'
     [selected] = 'selected'
     (page)='onPage($event)'
     (reorder)='reorder($event)'
     (tableContextmenu)='tableContextmenu($event)'
     (detailToggle)='detailToggle($event)'
     (select) = 'select($event)'
     (sort) = 'sort($event)'
     (activate) = 'activate($event)'
     ></ngx-datatable>

</div>
     <!-- [selectionType] = '"multi"' -->
     <!-- (activate) = 'activate($event)' -->
     <!-- [selectionType] = '"multi"' (select) = 'select($event)' -->
     <!-- <ngx-datatable
     class="material"
     [rows]="rows"
     columnMode="force"
     [headerHeight]="50"
     [footerHeight]="0"
     [rowHeight]="50"
     [scrollbarV]="true"
     [scrollbarH]="true">
     <ngx-datatable-column name="Name" [width]="300"></ngx-datatable-column>
     <ngx-datatable-column name="Gender"></ngx-datatable-column>
     <ngx-datatable-column name="Age"></ngx-datatable-column>
     <ngx-datatable-column name="City" [width]="300" prop="address.city"></ngx-datatable-column>
     <ngx-datatable-column name="State" [width]="300" prop="address.state"></ngx-datatable-column>
   </ngx-datatable> -->


   <!-- <ngx-datatable
        class="material"
        [rows]="rows"
        [columns]="columns"
        [columnMode]="'force'"
        [footerHeight]="100"
        [headerHeight]="50"
        [rowHeight]="'auto'">
        <ngx-datatable-footer>
          <ng-template 
            ngx-datatable-footer-template 
            let-rowCount="rowCount"
            let-pageSize="pageSize"
            let-selectedCount="selectedCount"
            let-curPage="curPage"
            let-offset="offset">
            <div style="padding: 5px 10px">
              <div>
                <strong>Summary</strong>: Gender: Female
              </div>
              <hr style="width:100%" />
              <div>
                Rows: {{rowCount}} |
                Size: {{pageSize}} |
                Current: {{curPage}} |
                Offset: {{offset}}
              </div>
            </div>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable> -->

