
::ng-deep .node-content-wrapper {
    width: 50%;
    background: rgba(255, 99, 71, 0.1);
    transition: transform 0.3s ease;
}
::ng-deep .node-content-wrapper:hover {
    /* margin-left: 2rem; */
    /* transform: scale(1.1) */
}

::ng-deep .node-content-wrapper-active, .node-content-wrapper.node-content-wrapper-active:hover, .node-content-wrapper-active.node-content-wrapper-focused {
    width: 100%;
    background: rgba(0, 123, 255, 0.4) !important;
    color: rgb(45, 71, 42);
    text-align: center;
}


::ng-deep.node-content-wrapper, .tree-children {
    position: relative;
  }
  
  ::ng-deep .node-content-wrapper::before, .tree-children::after {
    content: "";
    position: absolute;
  }
  
  ::ng-deep .node-content-wrapper::before {
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    height: 28px;
    top: -17px;
    width: 20px;
    left: -28px;
  }
  
  ::ng-deep .tree-node-level-1 > tree-node-wrapper > .node-wrapper > .node-content-wrapper::before {
    display: none;
  }
  
  ::ng-deep .tree-node-leaf > .node-wrapper > .node-content-wrapper::before {
    width: 25px;
  }
  
  ::ng-deep .tree-children::after {
    border-left: 1px solid lightgrey;
    height: 100%;
    top: -15px;
    left: -15px;
  }
  
  ::ng-deep .tree-node:last-child > .tree-node > .tree-children::after {
    border-left: none;
  }
  
  ::ng-deep .toggle-children {
    z-index: 1;
  }

  .clear {
      cursor: pointer;
      transition: background 0.3 ease;
  }

  .clear:active {
      background: rgb(25, 151, 255);
      user-select: none;
  }