<!-- <input #filter type="text" (input) = 'filterNodes(filter.value)'>
<tree-root #tree [nodes] = 'nodes' [options] = 'options' (initialize) = 'initTree(tree)' ></tree-root> -->

<!-- <input #filter type="text" (input) = 'tree.treeModel.filterNodes(filter.value)'>
<tree-root #tree [nodes] = 'nodes' [options] = 'options' [focused] = 'true'></tree-root> -->

<div class="container">
  <div class="row col pb-5">
      <div class="input-group mb-3 mt-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Search</span>
          </div>
          <input
            #filter
            (input) = "filterNodes(filter.value)"
            type="text" 
            class="form-control" 
            placeholder="Node name" 
            aria-label="Username" 
            aria-describedby="basic-addon1"
            >
            <div class="input-group-prepend">
                <span class="input-group-text clear" id="basic-addon1" (click) = 'clearFilter()'>Clear</span>
            </div>
      </div>
      <div class="row col-12">
        <tree-root 
        #tree
        class="col-md-8"
        [nodes] = 'nodes' 
        [style.width] = '"100%"'
        [options] = 'options'
        [focused] = 'true' 
        (focus) = 'selected($event)' 
        (nodeActivate) = 'active($event, tree)'
        (nodeDeactivate) = 'deactivate($event)'
        ></tree-root>
        <div class="col-md-4">
            <input
            [(ngModel)] = 'newNode'
            type="text" 
            class="form-control col-12" 
            placeholder="Node name" 
            aria-describedby="basic-addon1"
            >
          <div class="d-flex col-12 p-0 mt-3 justify-content-between">
              <button type="button" class="btn btn-warning" (click) = 'removeNode()' [disabled] = '!treeService.getActiveNode()'>Remove node</button>
              <button type="button" class="btn btn-info" (click) = 'addNode()' [disabled] = '!newNode'>Add node</button>
          </div>

        </div>
      </div>
      
  </div>

  <div class="row col">
    <button type="button" class="btn btn-success" (click) = 'toggleTree("expand")'>Open</button>
    <button type="button" class="btn btn-danger ml-3" (click) = 'toggleTree("collapse")'>Close</button>
  </div>
</div>




