<div class = 'container'>
  <div class="row">
      <tabset class="col">
          <tab heading="Tree Component" id="tab1">
            <app-tree></app-tree>
          </tab>
          <tab heading="Swimlane-Data-Table" [active] = 'true'>
            <app-datatable></app-datatable>
          </tab>
      </tabset>
  </div>
</div>